.App {
  text-align: center;
  cursor: pointer
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.master-root {
  margin: 20px auto;
  position: relative;
  min-height: 300px;
  max-height: 100px;
  width: 300px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spotifyGreenButton {
  font-size: 18px;
  line-height: 1;
  border-radius: 500px;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1db954;
}

.landingBackground {
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

}
